= render 'form'
.text-center.edit-links
  =link_to "Cancel", moment_path(@moment)
  |
  =link_to "Delete", moment_path(@moment), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }